body{
    background-color: lightgreen;
}
h{
    text-indent: 20px;
    color:  #5e0f32;
}
#big_time_rush{
display: block;
background-color: lightcoral;
width: 21em;
}
#fart{
 display: inline-grid;
    background-color: fuchsia;}
a{
    font-size: 25px;
    color: lightcyan;
}
a:hover{
    color: cadetblue;
}
a:visited{
    color: darkolivegreen;
}
