   body{
background-color:lightgreen;
}
a {
    color: lightcyan;
    font-size: 30px;
}
a:hover{
    color: cadetblue;
}
a:visited{
    color: darkolivegreen;
}
#poo{
 display: inline-grid;
    background-color: fuchsia;
    
} 
#krabs{
    text-indent: 0px;
    font-size: 30px;
    font-family: monospace;
    text-shadow: 1px 2px #5e0f32 ;
    width: 50%;
    margin-right: 4px;
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 0;
    position: relative;
    border-style: solid;
    border-color: blue;
    border-width:thin;
    background-color:azure; 
}
h {
    text-decoration: underline;
    color: #5e0f32; 
} 

p2{
    font-size:20px;
    font-family: 'Indie Flower', cursive;
}

#why img {
    float: left;
    position: relative;
}

#why p {
    float: left;
    position: relative;
}

#whynot {
    float: right;
    position: fixed;
    margin-top: 300px;
    margin-bottom: 40px;
}
#gorillaz{
    font-size: 18px;
}
