body{
background-color:lightgreen;
}
a{
    color: lightcyan;
    font-size: 30px;
}
a:hover{
    color: cadetblue;
}
a:visited{
    color: darkolivegreen;
}
#poo{
 display: inline-grid;
    background-color: fuchsia;
    
} 
p{
    text-indent: 80px;
    font-size: 45px;
    font-family: fantasy;
    text-shadow: 3px 2px white ;
    padding-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px; 
}
h{
    text-decoration: underline;
    color: #5e0f32; 
}   

p2{
    font-size: 18px;
}
#maneater{
    font-size: 18px;
}
#kermit{
    width: 30%;
}
#fart{
     display: inline-grid;
    background-color: fuchsia;
}
