#nav{
  float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
display:inline;  
  float:left;
    width: 20%;
}
li a{
 display: block;
 background-color:black;
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}
a:hover{
 color: blue;   
}
#g2contact{
    float: left;
    text-align: center; 
    padding-left: 1em;
    border-style: solid;
    border-bottom: 3px solid green;
    padding: 1em;
    max-width: 25%;
     width: 22%;
}
#gcontact{
    float: left;
    text-align: center;
    border-style: solid;
    border-bottom: 3px solid green;
    padding: 1em;
    max-width: 25%;
    width: 22%;
}
#jcontact{
    float:left;
    text-align: center;
    border-style: solid;
    border-bottom: 3px solid green;
    padding: 1em;
    max-width: 25%;
    width: 22%
}
#vcontact{
    text-align: center;
    border-style: solid;
    border-bottom: 3px solid green;
    padding: 1em;
    padding-right: 1em; 
    padding-left: 1em;
    max-width:25%;
    float:left; 
    width: 22%;
    
}
#all{
    float:center;
    text-align:center;
}
#Googleform{
    float: center;
    width:100%;
}
h1{
    text-align: center;
}
@media screen and (max-width: 800px) {
    
    background-color: lightgray;
    
}
