#nav{
  float: right;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li{
display:inline;  
  float:right;
}
li a{
 display: block;
 bakground-color:black;
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}
a:hover{
 color: darkblue;   
}
#GoogleForm {
  float: right;
}

