/*this is the mobile veersion*/
@media only screen and (max-width:600px){
       
  body, html{
        width:100%;
        height:auto;
        font-size:20px;
        overflow-x: hidden;
        margin:0px;
        background-color:lightgray;
}
   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
}
    a:hover{
        color:darkblue;
           }
 li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}
    a:hover{
        color: deepskyblue;
        }
    h1{
        margin: 0%;
    }
p{
text-indent:20px;
} 
#ihatethis{
text-indent:0px;
} 
h{
font-size:24px;
}
      #oof{
      max-width:50%;
      border-radius:20%;
      }
      #poop{
       margin-left:20%;
      }
}
/*hotizontal object*/
@media only screen and (orientation:landscape){
     body{
      background-color:lightgray;
      }
      #oof{
          max-width:50%;
          border-radius:20%;
      }
}
/*horizontal Fono*/
@media only screen and(max-width:568px) and (orientation:landscape){
      
      html,body{
      background-color:green;
      }
}
