ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
display:inline;  
  float:right;
}
li a{
 display: block;
 background-color:black;
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}
a:hover{
color: deepskyblue;
}
@media only screen and(min-width:480px){
    body{background-color: pink;}
}

#oof{
   max-width:50%;
   height:auto;
}
p{
text-indent:20px;
}

