/*the computer site lol*/
@media only screen and (min-width:600px){
    html,body{
    background-color:white;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
a:hover{
color: deepskyblue;
}
    
#oof{
    float:left;
}
    #shat{
    float:left;
    max-width:20%; 
    }
p{
text-indent:2px;
}
#ihatethis{
text-indent:0px;
}
h{
font-size:24px;
}
#google_translate_element{
        text-align:right;
}
}
