p1{
  text-align: center;
  font-size: 20 px;
#nav{
  float: right;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
li{
display:inline;  
  float:right;
}
li a{
 display: block;
 bakground-color:black;
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align:center;
}
a:hover{
 color: darkblue;   
}
#p1{
    text-align:right;
    line-height: 1.5;
}
#h1{
    text-align:center;
    
}
